<ion-view view-title="{{title}}">
  <ion-content>
    <ion-list>
      <div ng-repeat="info in infos.root[index].category">
        <ion-item class="teal white-text"
                  ng-click="toggleGroup(info)">
                  <!--ng-class="{active: isGroupShown(info)}">-->
          {{info.group}}
        </ion-item>
        <ion-item class="item-text-wrap item-button-right"
                  ng-repeat="item in info.items"
                  ng-show="isGroupShown(info)">
          <h3>{{item.title}}</h3>
          <p ng-hide="!item.location"><i class="icon ion-android-pin"></i> {{item.location}}</p>
          <p ng-hide="!item.tel"><i class="icon ion-android-call"></i> {{item.tel}}</p>
          <p ng-hide="!item.url"><i class="icon ion-android-open"></i> {{item.url}}</p>
          <div class="buttons">
          <button class="button teal" ng-hide="!item.tel" ng-click="openCall('{{item.tel}}')">
            <i class="icon ion-android-call white-text"></i></button>
          </button>
          <button class="button teal" ng-hide="!item.url" ng-click="openLink('{{item.url}}')">
            <i class="icon ion-android-open white-text"></i>
          </button>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
