<ion-view view-title="{{'INFO_TITLE'|translate}}">
  <ion-content>
    <ion-list ng-repeat="info in infos">
      <ion-item class="item-avatar-left grey lighten-4" ui-sref="main.info-detail({index: $index})">
        <img src="main/assets/images/small-logo1.jpg">
        <span class="title">{{info.title}}</span>
        <p>{{info.subtitle}}</p>
        <!--<div class="secondary-content"><i class="icon ion-android-arrow-forward"></i></div>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
