<ion-view hide-nav-bar="true">
  <!-- do you want padding? -->
  <ion-content class="padding startPage">
    <h1 class="white-text center-align">Please select your language</h1>

    <!-- content goes here -->
    <div class="padding">
    <button class="button button-full button-assertive ink" ng-click="ctrl.setLang('de_DE')"><i class="flag-icon flag-icon-de"></i> {{'LANG_DE'|translate}}</button>
    <button class="button button-full button-energized ink" ng-click="ctrl.setLang('en_US')"><i class="flag-icon flag-icon-us"></i> {{'LANG_EN'|translate}}</button>
    <button class="button button-full button-positive ink" ng-click="ctrl.setLang('ar_SY')"><i class="flag-icon flag-icon-sy"></i> {{'LANG_AR'|translate}}</button>
    <button class="button button-full button-royal ink" ng-click="ctrl.setLang('fa_AF')"><i class="flag-icon flag-icon-af"></i> {{'LANG_AF'|translate}}</button>
    <button class="button button-full button-calm ink" ng-click="ctrl.setLang('tr_TR')"><i class="flag-icon flag-icon-tr"></i> {{'LANG_TR'|translate}}</button>
    <button class="button button-full button-balanced ink" ng-click="ctrl.setLang('fr_FR')"><i class="flag-icon flag-icon-fr"></i> {{'LANG_FR'|translate}}</button>
    </div>
  </ion-content>
</ion-view>
